Repository i-tyutyunov/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

.gitlab-ci.yml:

stages:
  - module-pipelines

backend:
  stage: module-pipelines
  trigger:
    include:
      - local: backend/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - backend/**/*
  environment:
    name: backend
    url: https://std-025-84.praktikum-services.tech

frontend:
  stage: module-pipelines
  trigger:
    include:
      - local: frontend/.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - frontend/**/*
  environment:
    name: frontend
    url: https://std-025-84.praktikum-services.tech

Креды телеграма в переменные gitLab
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Креды телеграма в переменные gitLab send notification
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Убрал SAST node js из бэка
  backend/.gitlab-ci.yml
Due: backend

Перенес env в stage deploy
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

правка
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Правки после ревью
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: backend, frontend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Added MongoDB integration
  backend/pom.xml
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Зависимости + миграции
  backend/pom.xml
  backend/src/main/resources/migration/V001__create_tables.sql
  backend/src/main/resources/migration/V002__insert_data.sql
  backend/src/main/resources/migration/V003__create_index.sql
Due: backend

SPRING_FLYWAY_ENABLED: "false"
  backend/.gitlab-ci.yml
Due: backend

удалил плагин
  backend/pom.xml
Due: backend

Переместил миграции
  backend/src/main/resources/db/migration/V001__create_tables.sql
  backend/src/main/resources/db/migration/V002__insert_data.sql
  backend/src/main/resources/db/migration/V003__create_index.sql
Due: backend

Удалил плагин
  backend/pom.xml
Due: backend

Тест
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: backend

Вынес данные для подключения к БД в отдельный файл
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
Due: backend

Миграции
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/pom.xml
  backend/sausage-store-backend.service
  backend/src/main/resources/db/migration/V001__create_tables.sql
  backend/src/main/resources/db/migration/V002__insert_data.sql
  backend/src/main/resources/db/migration/V003__create_index.sql
Due: backend

Подключение к mongo
  backend/sausage-store-backend.service
Due: backend

mongo
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
Due: backend

Увеличил время
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: backend

Сохранение отчётов в mongo
  backend/.gitlab-ci.yml
  backend/sausage-store-backend.service
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: backend

Добавление сертификата при деплое
  backend/deploy.sh
Due: backend

Сборка и запуск бэка в одном контейнере
  backend/Dockerfile
Due: backend

Multi-stage сборка бэка
  backend/Dockerfile
Due: backend

nginx конфиг фронта
  frontend/default.conf
Due: frontend

Dockerfile для фронта
  frontend/Dockerfile
Due: frontend

Поправил порт для запроса на бэк
  frontend/default.conf
Due: frontend

Создание дирректории для логов на бэке
  backend/Dockerfile
Due: backend

тест
  backend/.gitlab-ci.yml
Due: backend

Тест
  backend/.gitlab-ci.yml
Due: backend

-Dmaven.test.skip=true
  backend/.gitlab-ci.yml
Due: backend
