Repository i-tyutyunov/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend, frontend

backend:
  stage: module-pipelines
  trigger:
    include:
    - local: backend/.gitlab-ci.yml
    strategy: depend

frontend:
  stage: module-pipelines
  trigger:
    include:
    - local: frontend/.gitlab-ci.yml
    strategy: depend

docker ci
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: backend

Тест
  backend/.gitlab-ci.yml
Due: backend

frontend docker ci
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: frontend

frontend docker ci
  frontend/.gitlab-ci.yml
  frontend/default.conf
  frontend/deploy.sh
Due: frontend

Тест
  frontend/deploy.sh
Due: frontend

Убрал тесты фронта
  frontend/.gitlab-ci.yml
Due: frontend

Тест
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: frontend

Docker CI/CD
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/deploy.sh
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/default.conf
  frontend/deploy.sh
Due: backend, frontend

Вынес пароль от хранилища ключей в переменную GitLab
  backend/.gitlab-ci.yml
  backend/Dockerfile
Due: backend

Замена картинок
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

fix port
  frontend/deploy.sh
Due: frontend

vault
  backend/.gitlab-ci.yml
Due: backend

Extracted reports to the new microservice
  backend-report/.dockerignore
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/pom.xml
  backend-report/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend-report/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend-report/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend-report/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend-report/src/main/resources/application.properties
  backend-report/src/main/resources/logback.xml
  backend-report/src/test/java/com/yandex/practicum/devops/task/ReportSaverTaskTest.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: backend

docker compose
  docker-compose.yml
Due: none

fix deploy backend
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: backend

тест
  backend/.gitlab-ci.yml
Due: backend

fontend deploy
  frontend/.gitlab-ci.yml
  frontend/default.conf
  frontend/deploy.sh
Due: frontend

report deploy
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: none

docker compose
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/default.conf
  frontend/deploy.sh
Due: backend, frontend

balancer
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend

2 бэка
  backend/.gitlab-ci.yml
Due: backend

balancer
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: backend, frontend

healthcheck
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/pom.xml
  docker-compose.yml
Due: backend

Path conditions:
  backend: any of: backend/**/*
  frontend: any of: frontend/**/*
